*,
*::before,
*::after {
    box-sizing: border-box;

}

/*custom properties*/
:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Oswald', sans-serif;


    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #e8e9eaee;
    --clr-dark: rgb(18, 17, 17);
    --clr-accent: #980303;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 2.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Style */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */
.btn {

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;


}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
    color: var(--clr-accent);
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle--intro {
    font-family: var(--ff-secondary);
}

.service {
    font-family: var(--ff-secondary);
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

.logo {
    cursor: pointer;
}

.nav__list {
    display: flex;
    list-style: none;
    cursor: pointer;
    justify-content: space-between;
}

.nav__link {
    padding: 1em;
    color: var(--clr-accent);
}

.nav__link:hover {
    transition: all 3s;
}

.intro {
    position: relative;
}


.section__subtitle--intro {
    display: inline-block;
    position: relative;
}


/* Body */

.intro-img {
    box-shadow: var(--bs);
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    z-index: 2;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    color: var(--clr-accent);
}


/* What We Do */

.gimg {
    box-shadow: var(--bs);
    margin-right: 1em;
}



.lingo {
    margin: 1em;
}

.service {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 9000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service+.service {
        margin-left: 2em;

    }
}

/* Contact us*/

.section__title--contact {
    display: flex;

}

.sign-up:root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 5px;
}

.col {
    margin: 5px;
}

textarea {
    display: flex;
    width: 8000px;
    max-width: 100%;
    height: 300px;
    padding: 1em;
    border-radius: 1%;
    position: relative;
    margin: 5px;

}

.btn {
    display: flex;
    margin: 5px;
}



/* footer */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* Mobile stuff */
@media only screen and (max-width: 480px) {
    body {
        font-size: 15px;
    }

    .intro-img {
        display: none;
    }
}